<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<header class="navbar navbar-fixed-top clearfix">
			<div class="navbar-inner">
				<div class="container">
					<%= link_to "Avaus Lottery", root_path, { :class=>"brand" } %>
					<nav>
						<ul class="nav pull-right">
							<li><%= link_to "Events", events_path %></li>
							<li><%= link_to "Stats", users_path %></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<div class="container">
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>

</html>
